h2 Stany
fieldset(class=`col-12 repeating_condition`)
    .magisterlor-row.no-gutters
        div.checkbox.col-2
            input.sheet-check(type=`checkbox`, name=`attr_checked`, value=`1`)
            span
        div.name.col-10
            input(type="text", name=`attr_name`)

