h2 Przedmioty
textarea(name=`attr_statesInfo`, class=`condition-description`, placeholder=`Dodatkowy opis stanu`)
textarea(name=`attr_equipment`, class=`inventory`, placeholder=`Posiadane przedmioty`)
