h2 Przedmioty
textarea(name=`attr_condition_description`, class=`condition-description`, placeholder=`Dodatkowy opis stanu`)
textarea(name=`attr_inventory`, class=`inventory`, placeholder=`Posiadane przedmioty`)
