div.lorKeysSecrets
    fieldset(class=`repeating_keys`)
        h3
            input(type="text", name=`attr_name`, placeholder=`Klucz`)
        div.description
            textarea(name=`attr_description`, placeholder=`Wstaw opis`)
        div.buyoff
            span Oferta:
            textarea(name=`attr_buyoff`, placeholder=`Wstaw ofertę`)
div.keysInfo Kiedy używasz klucza, zaznacz <strong>punkt doświadczenia</strong> (PD). Jeśli pakujesz się w kłopoty z powodu swojego klucza, zaznacz 2 PD. Każdy z kluczy ma również <strong>ofertę</strong>. Jeśli skorzystasz z oferty, możesz trwale usunąć klucz, zastąpić go nowym oraz zaznaczyć 5 PD.
