div.lorKeysSecrets
    fieldset(class=`repeating_secrets`)
        h3
            input(type="text", name=`attr_name`, placeholder=`Sekret`)
        div.description
            textarea(name=`attr_description`, placeholder=`Opis`)

