.lorKeysSecrets{
    h3{
        background:
            url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/key-bg-top-left.png") no-repeat top left,
            url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/key-bg-bottom-left.png") no-repeat bottom left,
            url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/key-bg-bottom-right.png") no-repeat bottom right,
            url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/key-bg-top-right.png") no-repeat top right,
            url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/key-bg-left.png") repeat-y top left,
            url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/key-bg-right.png") repeat-y top right,
            url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/key-bg-top.png") repeat-x top left,
            url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/key-bg-bottom.png") repeat-x bottom left,
            transparent;
        color: $color;
        input{
            text-align: center;
        }
    }
}
