.traitTag{
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        border: solid 1px $border;
        border-left: none;
        ul{
            padding-left: 15px;
            border: none;
        }
    }
    h3{
        background: transparent;
        border: solid 1px $border;
        border-left: none;
        border-bottom: none;
    }
    h3 input{
        font-size: 1.2em
    }
    .name{
        flex-grow: 2;
        flex-shrink: 2;
        width: calc(100% - 100px);
        input{
            font-size: 1.3em;
        }
    }
}

.trait, .tags{
    .repcontainer{
        width: 100%;
        .repitem{
            border-left: solid 1px $border;
            border-right: solid 1px $border;
            position: relative;
            margin: 0 1.4em;
            &:first-of-type{
                margin: 1em 1.4em 0 1.4em;
                &:before{
                    content: "WYBIERZ JEDEN ASPEKT";
                    font-size: 0.6em;
                    position: absolute;
                    top: -1.2em;
                    left: 1em;
                    background: #ffffff;
                    padding: 3px 5px;
                }
                padding-top: 0.6em;
                border-top: solid 1px $border;
            }
            &:last-of-type{
                margin: 0 1.4em 1em 1.4em;
                border-bottom: solid 1px $border;
            }
        }
    }
    .radios{
        width: 70px;
        padding-left: 5px;
    }

    .rollButton{
        width: 30px;
    }
}

