.character-sheet{
    background: #ffffff;
    position: relative;
    z-index: 1;
    line-height: 1.5;
    font-family: 'Trirong', serif;
    h1, h2, h3, h4, h5, h6{
        margin-bottom: 0;
    }
    ::placeholder, ::-ms-input-placeholder{
        color: $placeholder
    }
    h2, h3{
        background: $h2background;
        color: $h2color;
        padding: 5px 10px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Trirong', serif;
    }
    input,textarea{
        background: $inputBackground;
        font-family: inherit;
        border: none;
        background: transparent;
        width: 100%;
        height: auto;
        line-height: 1.5;
        color: #000000;
        &:focus{
            background: $inputBackgroundOnFocus;
        }
    }
    >header{
        background: url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/chart-bg-top.webp") no-repeat top center,
            url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/chart-bg-middle2.webp") repeat-y top center;
        background-size: 100% auto, 100% auto;
        text-align: center;
        padding: 3% 1.44% 1% 1.44%;
        .name{
            width: 80%
        }
        input {
            font-size: 4em;
            font-weight: bold;
            text-transform: capitalize;
            font-variant: small-caps;
            font-family: 'Trirong', serif;
        }
        textarea{
            text-align: center;
            font-style: italic;
            font-size: 1.7em;
            font-family: 'Trirong', serif;
        }
        input, textarea{
            text-align: center;
            line-height: 1.5;
            background: transparent;
            border: none;
        }
    }
    >section {
        padding: 0 1.44% 1% 1.44%;
        background: url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/chart-bg-middle2.webp") repeat-y top center;
        background-size: 100% auto;

    }
    >footer{
        padding: 0 1.44% 2% 1.44%;
        background: url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/chart-bg-bottom.webp") no-repeat bottom center,
            url("https://raw.githubusercontent.com/ryczypior/roll20-character-sheets/magister-lor-sheet/Magister%20Lor/assets/chart-bg-middle2.webp") repeat-y top center;
        background-size: 100% auto, 100% auto;
    }

    input.sheet-normal[type="radio"]
    {
        opacity: 0;
        width: 16px;
        height: 16px;
        position: relative;
        top: 5px;
        left: 6px;
        margin: -10px;
        cursor: pointer;
        z-index: 1;
    }

    /* -----Fake radio----- */
    input.sheet-normal[type="radio"] + span::before
    {
        margin-right: 7px;
        border: solid 1px #000000;
        line-height: 18px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;

        background: #000000;

        color:black;
        content: " ";
        width: 16px;
        height: 16px;
        font-size: 3em;
        border-radius: 50%;
    }
    input.sheet-normal[type="radio"]:checked ~ input.sheet-normal[type="radio"] + span::before
    {
        background: #ffffff;
    }

    /*------------empty traits-----------*/
    input.sheet-zero[type="radio"]:checked + span::before
    {
        opacity: 0;
    }

    input.sheet-zero[type="radio"]:hover + span::before
    {
        opacity: 1;
    }

    input.sheet-zero[type="radio"] + span::before
    {
        background: #ffffff;
        font-size: 16px;
        content: "✖";
        opacity: 0.25;
    }


    input.sheet-check[type="checkbox"]
    {
        opacity: 0;
        width: 18px;
        height: 18px;
        position: relative;
        top: 5px;
        left: 6px;
        margin: -10px;
        cursor: pointer;
        z-index: 1;
    }

    input.sheet-check[type="checkbox"] + span::before
    {
        margin-right: 7px;
        border: solid 1px #000000;
        line-height: 15px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;

        background: #ffffff;

        color:black;
        content: " ";
        width: 18px;
        height: 18px;
        font-size: 3em;
    }
    input.sheet-check[type="checkbox"]:checked + span::before
    {
        background: #000000;
    }


    @import "characterSheet/conditions";
    @import "characterSheet/xp";
    @import "characterSheet/traits";
    @import "characterSheet/keys-secrets";
}
