mixin traitsTags(number)
    div.traitTag
        h3
            input(type="text", name=`attr_trait_${number}`, placeholder=`Nazwa kategorii`)
        ul
            div.trait.magisterlor-row.no-gutters.align-items-center
                div.col-12.multi
                    fieldset(class=`repeating_tagx${number}x0`)
                        .magisterlor-row.no-gutters.align-items-center
                            div.radios
                                input.sheet-normal.sheet-zero(type=`radio`, name=`attr_value`, value=`0`, checked=`checked`)
                                span
                                input.sheet-normal(type=`radio`, name=`attr_value`, value=`1`)
                                span
                                input.sheet-normal(type=`radio`, name=`attr_value`, value=`2`)
                                span
                            div.name
                                input(type="text", name=`attr_name`, placeholder=`Aspekt`)
                            div.rollButton
                                input.sheet-normal(type=`checkbox`, name=`attr_roll`)
                                span
                div.col-12.single
                    fieldset(class=`repeating_tagx${number}x1`)
                        .magisterlor-row.no-gutters.tag.align-items-center
                            div.radios
                                input.sheet-normal.sheet-zero(type=`radio`, name=`attr_value`, value=`0`, checked=`checked`)
                                span
                                input.sheet-normal(type=`radio`, name=`attr_value`, value=`1`)
                                span
                                input.sheet-normal(type=`radio`, name=`attr_value`, value=`2`)
                                span
                            div.name
                                input(type="text", name=`attr_name`, placeholder=`Aspekt`)
                            div.rollButton
                                input.sheet-normal(type=`checkbox`, name=`attr_roll`)
                                span
                div.col-12.single
                    fieldset(class=`repeating_tagx${number}x2`)
                        .magisterlor-row.no-gutters.tag.align-items-center
                            div.radios
                                input.sheet-normal.sheet-zero(type=`radio`, name=`attr_value`, value=`0`, checked=`checked`)
                                span
                                input.sheet-normal(type=`radio`, name=`attr_value`, value=`1`)
                                span
                                input.sheet-normal(type=`radio`, name=`attr_value`, value=`2`)
                                span
                            div.name
                                input(type="text", name=`attr_name`, placeholder=`Aspekt`)
                            div.rollButton
                                input.sheet-normal(type=`checkbox`, name=`attr_roll`)
                                span
